

/* <--Hero section --> */
@media only screen and (max-width: 868px){
    .build__area{
        grid-template-columns: auto;
    }
    .img-content{
        text-align: center;
    }
    .img-content img{
        width: 330px;
        height: 305px;
    }
}
/* <--company section --> */
@media only screen and (max-width: 957px){
    .company-logo{
        grid-template-columns: auto auto auto;
        grid-gap: 25px 0;
        justify-content: space-between;
    }
    .company-logo img{
        width: 150px;
        height: 30px;
    }
}
@media only screen and (max-width: 580px){
    .company-logo img{
        width: 100px;
    }
    .container{
        width: 100%;
        padding: 0;
    }
    
}